<html>

<body>
    <h3>Entity Form</h3>

    <p>
        {{.message}}
        
    </p>

    <div>
        <h4>Test Entity</h4>
        <dl>
            <dt>ID</dt>
            <dd>{{.testEntity.ID}}</dd>

            <dt>Type</dt>
            <dd>{{.testEntity.Type}}</dd>
            <dt>Name</dt>
            <dd>{{.testEntity.Name}}</dd>
            <dt>Description</dt>
            <dd>{{.testEntity.Description}}</dd>

        </dl>
    </div>

    <form method="post">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" />
        <br /><br />

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <br /><br />

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
        <br /><br />

        <input type="submit" value="Send!" />
    </form>
</body>

</html>